*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #031b31;
    color: white;
    height: 5rem;
    text-align: center;
    align-content: center;
}

.choices{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    gap: 10vw;
}

.choice{
    height: 11rem;
    width: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 5px solid transparent;
}
img{
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    border-radius: 50%;
    /* transition: transform 0.2s ease-in-out; */
}

/* .choice:hover img{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} */

.choice:hover{
    opacity: 0.75;
    border: 5px solid black;
    cursor: pointer;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10vh;
}

#uscore , #cscore{
    font-size: 3rem;
}

.msg-container{
    margin-top: 10vh;
}

#msg{
    font-size: 2rem;
    background-color: #031b31;
    color: white;
    display: inline;
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
}